akismet
django
Jinja2
Coffin
South
django-userena
oauth2
Lamson
markdown2
html5lib
django-keyedcache
django-threaded-multihost
django-robots
unidecode
django-countries
django-celery
django-kombu
django-followit
django-recaptcha-works
python-openid
pystache
pylint
pytz
longerusername
