<p>{% trans username=name %}Dear {{ username }},{% endtrans %}</p>

<p>
{% trans num=num %}
The following question has been updated {{sitename}}:
{% pluralize %}
The following {{num}} questions have been updated on {{sitename}}:
{% endtrans %} 
</p>   
             
<ul>	
{{action_list}}	
</ul>
<br />

<p>{% trans %}Please remember that you can always 
<a href="{{email_settings_link}}">adjust</a> 
frequency of the email updates or turn them off entirely.<br/>
If you believe that this message was sent in an error, 
please email about it the forum administrator at {{admin_email}}.
{% endtrans %}</p>
<p>{% trans %}Sincerely,{% endtrans %}</p>
<p>{% trans %}Your friendly {{sitename}} server.{% endtrans %}</p>